<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<global-method-security pre-post-annotations="enabled" />

	<http pattern="/rest/login" security="none" />
	<http use-expressions="true">
		<intercept-url pattern="/**" access="isAuthenticated()" />
		<form-login login-page="/rest/login" always-use-default-target="true" default-target-url="/vaadin" authentication-failure-url="/rest/login" />
		<logout invalidate-session="true" logout-success-url="/vaadin" />
		<session-management invalid-session-url="/rest/login" session-authentication-error-url="/rest/login">
		</session-management>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="ecloud" password="ecloud" authorities="user, admin" />
				<user name="admin" password="admin" authorities="admin" />
				<user name="user" password="user" authorities="user" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>
