.wrapper{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	height:100%;
}

.headerWrapper{
	background-color:#336699;
	height:100px;
}
.contentWrapper{
	height:100%;
}

.logoText{
	font-size:24px;
	line-height:30px;
	color:white;
}

.loginForm{
	width:400px;
	height:300px;
}

.footerWrapper{
	height:50px;
	background-color:black;
	color:white;
}